@tailwind base;
@tailwind components;
@tailwind utilities;

.single {
	line-height: 2;

	& > :where(*) + :where(*) {
		margin-top: 2em;
	}

	& > *:first-child {
		margin-top: 0;
	}

	:where(h2, h3, h4, h5, h6) {
		margin-top: 3em;
		font-weight: bold;
		line-height: 1.5;
	}

	:where(h2) {
		font-size: 1.5em;
	}

	:where(h3) {
		font-size: 1.25em;
	}

	:where(h4) {
		font-size: 1.125em;
	}

	:where(h6) {
		font-size: .875em;
	}
}
