@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--linkColor: #1d4ed8;
	--codeBg: #0e0f12;
	--codeColor: #fff;

	&.dark {
		--linkColor: #3b82f6;
		--codeBg: #0e0f12;
		--codeColor: #fff;
	}
}

.single {
	line-height: 2;
	word-wrap: break-word;

	& > :where(*) + :where(*) {
		margin-top: 2em;
	}

	& > *:first-child {
		margin-top: 0;
	}

	:where(h2, h3, h4, h5, h6) {
		margin-top: 3em;
		font-weight: bold;
		line-height: 1.5;
	}

	:where(h2) {
		font-size: 1.5em;
	}

	:where(h3) {
		font-size: 1.25em;
	}

	:where(h4) {
		font-size: 1.125em;
	}

	:where(h6) {
		font-size: .875em;
	}

	:where(a) {
		color: var(--linkColor);
		text-decoration: underline;
		transition: opacity .3s;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: .6;
			}
		}
	}

	:where(div[data-filename]) {
		&::before {
			display: block;
			width: fit-content;
			padding: 8px;
			margin-left: auto;
			font-size: .75em;
			line-height: 1;
			color: var(--codeColor);
			content: attr(data-filename);
			background-color: var(--codeBg);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		pre code.hljs {
			border-top-right-radius: 0;
		}
	}

	:where(code:not([class])) {
		padding-top: 4px;
		padding-right: 8px;
		padding-bottom: 4px;
		padding-left: 8px;
		color: #ebeef5;
		background-color: #3e424c;
		border-radius: 4px;
	}
}

.hljs {
	color: #f8f8f2;
	background: var(--codeBg);
}

/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/

pre code.hljs {
	display: block;
	padding: 1em;
	overflow-x: auto;
}

code.hljs {
	padding: 3px 5px;
}

.hljs-comment,
.hljs-quote {
	color: #d4d0ab;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
	color: #ffa07a;
}

.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
	color: #f5ab35;
}

.hljs-attribute {
	color: gold;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
	color: #abe338;
}

.hljs-section,
.hljs-title {
	color: #00e0e0;
}

.hljs-keyword,
.hljs-selector-tag {
	color: #dcc6e0;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 700;
}

@media screen and (-ms-high-contrast:active) {
	.hljs-addition,
	.hljs-attribute,
	.hljs-built_in,
	.hljs-bullet,
	.hljs-comment,
	.hljs-link,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-params,
	.hljs-quote,
	.hljs-string,
	.hljs-symbol,
	.hljs-type {
		color: highlight;
	}

	.hljs-keyword,
	.hljs-selector-tag {
		font-weight: 700;
	}
}
