@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--linkColor: #1d4ed8;

	&.dark {
		--linkColor: #3b82f6;
	}
}

.single {
	line-height: 2;
	word-wrap: break-word;

	& > :where(*) + :where(*) {
		margin-top: 2em;
	}

	& > *:first-child {
		margin-top: 0;
	}

	:where(h2, h3, h4, h5, h6) {
		margin-top: 3em;
		font-weight: bold;
		line-height: 1.5;
	}

	:where(h2) {
		font-size: 1.5em;
	}

	:where(h3) {
		font-size: 1.25em;
	}

	:where(h4) {
		font-size: 1.125em;
	}

	:where(h6) {
		font-size: .875em;
	}

	:where(a) {
		color: var(--linkColor);
		transition: opacity .3s;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: .6;
			}
		}
	}

	:where(div[data-filename]) {
		&::before {
			display: block;
			width: fit-content;
			padding: 8px;
			margin-left: auto;
			font-size: .75em;
			line-height: 1;
			color: var(--highlightJsColor);
			content: attr(data-filename);
			background-color: var(--highlightJsBg);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		pre code.hljs {
			border-top-right-radius: 0;
		}
	}

	:where(code:not([class])) {
		padding-top: 4px;
		padding-right: 8px;
		padding-bottom: 4px;
		padding-left: 8px;
		color: #ebeef5;
		background-color: #3e424c;
		border-radius: 4px;
	}
}
